//! Глобально
$Overpass: 'Overpass Mono',
monospace;
$Prompt: 'Prompt',
sans-serif;

//? Цвета
$white-text__color: #fff;
$semiwhite-text__color: #E5E5E5;
$orange-text__color: #FCA311;
$darkgrey-card__color: #0D0D0D;
$violet-shadow__color: #8d00ce;